
{{define "profileLayout"}}
<html>
    <head>
        <title>{{block "title" .}}{{end}}</title>
    </head>
    <body>
        <div style="display: flex">
            <div style="flex: 1;">header</div>
            <div>
                {{ if .User }}
                    {{ .User.Name }} | <a href="/logout">logout</a>
                {{ end }}
            </div>
        </div>
        <hr />
        <h1>profile layout</h1>

        <div>
            {{template "content" .}}
        </div>

        {{block "sidebar" .}}{{end}}

        <hr />
        <div>footer</div>
        {{ . }}
    </body>
</html>
{{end}}

